body {
  background-color: #263238;
}
h1 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
h2 {
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
a{
  color: #FFFFFF;
  margin-top: 0px;
}
table {
  width: 330; /* 表の幅 */
  min-width: 340px;
  height: 660px; /* 表の高さ */
  /* 中央揃えにする */
  margin-left: auto;
  margin-right: auto;
}
div {
  text-align: center;
  /* display: flex; */
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

ul {
  list-style: none;
  padding: 20px 50px;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: #FFFFFF;
  border-style: solid;
}

li {
  color: #FFFFFF;
  font-size: x-large;
  text-align: left;
  margin: 20px;
}

td {
  width: 10%; /* セルの幅 */
  height: 5%; /* セルの高さ */
  background-color: #455A64; /* 背景色 */
}

.i {
  background-color: #00BCD4; /* cyan */
}

.o {
  background-color: #FFEB3B; /* yellow */
}

.t {
  background-color: #9C27B0; /* purple */
}

.s {
  background-color: #4CAF50; /* green */
}

.z {
  background-color: #F44336; /* red */
}

.j {
  background-color: #2196F3; /* blue */
}

.l {
  background-color: #FF9800; /* orange */
}

.blink {
	animation: blinking 1s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0.1;}
	100% {opacity: 1;}
}

/* .link-rules {
  font-size:  x-large;
  text-align: right;
  margin: 50px;
} */

.main-text {
  text-align: center;
  margin: 0px;
}

/* ↓rules.html */
.rules {
  color: #FFFFFF;
  margin-left: 400px;
  margin-right: auto;
  text-align: center;
}